

#tresc {
    padding-top: 5%;
    width: 80%;
}

.col-md-4 {
    padding-bottom: 5%;
    text-align: center;
}

.heder { margin-bottom: 3%;}

.obrazki { padding-bottom: 15%;
}


* { text-align:center; }

.wrapper
{
    max-width:30em;
    margin:2em auto;
}

.scrollme
{
    padding:2em;
    border:1em solid #e8e8e8;
    perspective:600px;
}

.animateme
{
    width:80%;
    padding:10%;
    background:#e8e8e8;
    transform-origin:center center center;
}