.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.col-md-4 {
    padding-bottom: 5%;
    text-align: center;
}

.heder { margin-bottom: 3%;}

.obrazki { padding-bottom: 15%;
}

* { text-align:center; }


.footer-copyright {
    background-color: indianred ;
    color: white;
    position: static;
    bottom: 0;
    width: 100%;
}

#content {
    margin-bottom: 2%;
    min-height: 1000px;

}

.form-control {
    width: 60%;
    margin: auto;
}

.czekboksy {
    padding-top: 2%;
    padding-bottom: 2%;
}

.ankieta {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;

    background-color: indianred ;
}



.formularz {
    padding-top: 2%;
}

.carousel {
    background-color: black;
}

.ikonka {
    width: 150px;
    height: 150px;
}

body {
    /*background-image: url("../images/wallpaper.jpg");*/
    background-repeat: no-repeat;

}

#ankietafooter {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}



#section1{
    width: 80%;
    padding-top: 5%;

}

#section2{
    width: 80%;
    padding-top: 5%;

}

#section3{
    width: 80%;
    padding-top: 5%;
}

