

#tresc {
    padding-top: 5%;
    width: 80%;
}

.col-md-4 {
    padding-bottom: 5%;
    text-align: center;
}

.heder { margin-bottom: 3%;}

.obrazki { padding-bottom: 15%;
}


* { text-align:center; }

.wrapper
{
    max-width:30em;
    margin:2em auto;
}

.scrollme
{
    padding:2em;
    border:1em solid #e8e8e8;
    perspective:600px;
}

.animateme
{
    width:80%;
    padding:10%;
    background:#e8e8e8;
    transform-origin:center center center;
}
.footer-copyright {
    background-color: indianred ;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#content {
    margin-bottom: 2%;
    height: 1000px;

}

.form-control {
    width: 60%;
    margin: auto;
}

.czekboksy {
    padding-top: 2%;
    padding-bottom: 2%;
}

.ankieta {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;

    background-color: indianred ;
}



.formularz {
    padding-top: 2%;
}

.carousel {
    background-color: black;
}

.ikonka {
    width: 75px;
    height: 75px;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),url("../images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}